<div class="main_heading">
    <span><h1>DPR Sorting </h1></span>
</div>
<div class="mycard">
    <div class="main_table_container">
        <div class="sorting_cont">  
        <div class="row" style="height:100%;margin-right:0px;">
            <div class="col-4" [ngClass]="IsRegionDisable ? 'ww':'' ">
                <table class="table  table-striped sorting_table" id="regiontbl">
                    <thead>
                        <tr>
                            <th colspan="3">Region ({{listRegions.length}})</th>
                            <th><button class="" (click)="saveSorting('R');"><i class="fa fa-floppy-o"></i></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itm of listRegions">
                            <td colspan="2">{{itm.RegionName}}</td>
                            <td><input type="number" id="RegionSort" name="RegionSort"  min="1" [(ngModel)]="itm.RegionSort"/> </td>
                            <td><button (click)="GetCompanies('C', itm.RegionCode);" [ngClass]="(RegionName==itm.RegionCode)?'ff active_tab':'ff'"><i class="fas fa-chevron-right"></i> </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4" [ngClass]="IsCompanyDisable ? 'ww':'' ">
                    <table class="table  table-striped sorting_table">
                    <thead>
                        <tr>
                            <th colspan="3">Company ({{listCompanies.length}})</th>
                            <th><button class="" (click)="saveSorting('C');"><i class="fa fa-floppy-o"></i></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itm of listCompanies">
                            <td colspan="2">{{itm.CompanyName}}</td>
                            <td> <input type="number"  id="RegionSort" name="RegionSort" min="1" [(ngModel)]="itm.CompanySort"/> </td>
                            <td><button (click)="GetStations('S', itm.CompanyId);" [ngClass]="(CompanyId==itm.CompanyId)?'ff active_tab':'ff'"><i class="fas fa-chevron-right"></i> </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4" style="height:100%;overflow-y: scroll;" [ngClass]="IsStationDisable ? 'ww':'' ">
                <table class="table  table-striped sorting_table" >
                    <thead>
                        <tr>
                            <th colspan="3">Station ({{listStations.length}})</th>
                            <th><button class="" (click)="saveSorting('S');"><i class="fa fa-floppy-o"></i></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itm of listStations">
                            <td colspan="2">{{itm.StationName}}</td>
                            <td>
                                <input type="number" id="StationSort" name="StationSort"  min="1" [(ngModel)]="itm.StationSort" />
                            </td>                   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
