<div class="main_heading">
	<span class="heading_span"><h1>Payment Mode Management</h1></span>
	<span class="search_span">
		<input type="text"  name="search" [(ngModel)] ="filter" placeholder="Search" class="form-control" autocomplete="off">
	</span>
	<div class="head_right_div">
		<span class="switch_span">
			<div class="t_state_btn">
				<div class="floating_div" id="tgt_div"></div>
				<label>
					<input type="radio" id="ab"  name="swth" (change)="OnChangeStatus($event, 'swthActive')"/> 
					<span>Active</span>
				</label>
				<label>
					<input type="radio" id="DSMCheck" id="PMCheck" name="swth" checked (change)="OnChangeStatus($event, 'swthAll')"/> 
					<span>All</span>
				</label>
				<label>
					<input type="radio" id="ef" name="swth" (change)="OnChangeStatus($event, 'swthInActive')"/> 
					<span>InActive</span>
				</label>
			</div>
		</span> 
		<span class="dwnld_btn_span" title="Download" (click)="exportFile()">
			<button><i class="fas fa-download"></i></button>
		</span>
		<span class="pop_btn_span">
			<a title="Add New"  data-toggle="modal" data-target="#myModal">
				<i class="fa fa-plus" (click)="openAddDisp();" aria-hidden="true"></i>
		   </a>
		</span>
	</div>
</div>
<div class="mycard">
	<div class="main_table_container">
		<div class="vertScrollTbl">
			<div class="divTableHeader">
				<div class="divTableRow">
					<div class="divTableCell">
						Sr. No.
					</div>
					<div [ngClass]="sortingColumn == 'PaymentMode' ? 
					'divTableCell highlighted_tableCell' : 'divTableCell'" (click)="sortCol('PaymentMode')">
						Payment Mode 
						<i [className]="sortingColumn == 'PaymentMode' && reverse==true ? 
						'fa fa-sort-desc':'fa fa-sort-asc'"></i>
					</div>
					<div [ngClass]="sortingColumn == 'PaymentModeCode' ? 'divTableCell highlighted_tableCell' : 'divTableCell'" (click)="sortCol('PaymentModeCode')">
						Payment Mode Code 
						<i [className]="sortingColumn == 'PaymentModeCode' && reverse==true ? 'fa fa-sort-desc':'fa fa-sort-asc'"></i>
					</div>
					<div [ngClass]="sortingColumn == 'PaymentModeType' ? 'divTableCell highlighted_tableCell' : 'divTableCell'" (click)="sortCol('PaymentModeType')">
						Payment Mode Type <i [className]="sortingColumn == 'PaymentModeType' && reverse==true ? 'fa fa-sort-desc':'fa fa-sort-asc'"></i>
					</div>
					<div [ngClass]="sortingColumn == 'status' ? 'divTableCell highlighted_tableCell' : 'divTableCell'" (click)="sortCol('status')">
                        Status <i [className]="sortingColumn == 'status' && reverse==true ? 'fa fa-sort-desc':'fa fa-sort-asc'"></i>
					</div> 
					<div class="divTableCell text_center">
                        Action
					</div> 
				</div>
			</div>
			<div class="divTableBody">
				<div data-toggle="modal" data-target="#myModal" 
				*ngFor="let itm of listPaymentmode | orderBy: key: reverse | filter:filter let i = index" 
				[ngClass]="itm.PaymentModeId == uId ? 'divTableRow table_row_highlight' : 'divTableRow'">
					<div class="divTableCell" (click)="openPopupForUpdate(itm)">{{i+1}}</div>
					<div class="divTableCell" (click)="openPopupForUpdate(itm)">{{itm.PaymentMode}}</div>
					<div class="divTableCell" (click)="openPopupForUpdate(itm)">{{itm.PaymentModeCode}}</div>
					<div class="divTableCell" (click)="openPopupForUpdate(itm)">{{itm.PaymentModeType}}</div>
					<div class="divTableCell" (click)="openPopupForUpdate(itm)">{{itm.status}}</div>
					<div class="divTableCell text_center"><button type="button" class="btn-xs btn-danger " (click)="DeletePaymentMode(itm.PaymentModeId)"><i class="fa fa-trash" aria-hidden="true" ></i></button></div>
				</div>
			</div>
		</div>
	</div>
  </div>
<div id="myModal" class="modal fade" *ngIf=(PaymentmodePopup)>
	<div class="mypopup">
		<div class="popup_container popup_container_payment_mode">
			<div class="trigger_div">
				<span class="mypop_heading_span">
					<h4>{{title}} Payment Mode</h4>
				</span>
				<div class="mypop_head_right_div">
					<span class="mypop_savebtn_sapn" title="Save">
						<i class="fa fa-floppy-o" aria-hidden="true" (click)="save();"></i>
					</span>
					<span class="mypop_closebtn_span" title="Close">
						<i class="fas fa-times" data-dismiss="modal"></i>
					</span>
				</div>
			</div>
			<div class="content_div">
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Payment Mode<span class="star">*</span></label>
						<input type="text" class="form-control" name = "PaymentMode" [(ngModel)] = "PaymentMode" placeholder="Payment Mode">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Payment Mode Code<span class="star">*</span></label>
						<input type="text" class="form-control" name = "PaymentModeCode" [(ngModel)] = "PaymentModeCode" placeholder="PaymentMode Code">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Payment Mode Type<span class="star">*</span></label>
						<input type="text" class="form-control" name = "PaymentModeType" [(ngModel)] = "PaymentModeType" placeholder="PaymentMode Type">
					</div>
					<div class="row form-group">
						<label for="Status" class="col-4 control-label">Status</label>
						<div class="col-8">
							<div class="toggle-pnl">
								<input class="tgl tgl-ios ng-pristine ng-untouched ng-valid ng-not-empty" id="InvstUnMap_66" type="checkbox" name = "Status" [(ngModel)] = "Status">
								<label class="tgl-btn" for="InvstUnMap_66"></label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>