<!-- ============================
     MAIN HEADING + ADD BUTTON
============================ -->
<div class="main_heading">
  <span class="heading_span">
    <h1>Station Relation Mapping</h1>
  </span>

  <span class="search_span">
    <input type="text" name="search" [(ngModel)]="filter" placeholder="Search" class="form-control" autocomplete="off">
  </span>
  <div class="head_right_div">
    <span class="pop_btn_span">
      <a title="Add New" data-target="#addRelationPopup" data-toggle="modal" (click)="openAddPopup()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    </span>
  </div>
</div>

<!-- ============================
     MAIN CARD / TABLE SECTION
============================ -->
<div class="mycard">
  <div class="main_table_container">

    <!-- ============================
         TABLE
    ============================ -->
    <div class="vertScrollTbl">

      <!-- HEADER -->
      <div class="divTableHeader">
        <div class="divTableRow">
          <div class="divTableCell" style="width:180px;">Sr. No</div>
          <div [ngClass]="sortingColumn == 'OStationName' ? 'divTableCell highlighted_tableCell' : 'divTableCell'"
            (click)="sortCol('OStationName')">
            Online Station <i
              [className]="sortingColumn == 'OStationName' && reverse==true ? 'fa fa-sort-desc':'fa fa-sort-asc'"></i>
          </div>
          <div [ngClass]="sortingColumn == 'HStationName' ? 'divTableCell highlighted_tableCell' : 'divTableCell'"
            (click)="sortCol('HStationName')">
            Hybrid Station <i
              [className]="sortingColumn == 'HStationName' && reverse==true ? 'fa fa-sort-desc':'fa fa-sort-asc'"></i>
          </div>
          <div class="divTableCell" style="width:120px;">Actions</div>
        </div>
      </div>

      <!-- BODY -->
      <div class="divTableBody">

        <div *ngFor="let relation of relations | orderBy: key: reverse | filter:filter; let i = index"
          class="divTableRow">
          <div class="divTableCell">{{i+1}}</div>
          <!-- ONLINE NAME -->
          <div class="divTableCell">
            {{ relation.OStationName }}
          </div>

          <!-- HYBRID MAPPING -->
          <div class="divTableCell">
            {{relation.HStationName}}

          </div>

          <!-- ACTIONS -->
          <div class="divTableCell">

            <button type="button" class="btn btn-danger" (click)="openUnlinkPopup(relation)">
              <i class="fa fa-unlink"></i> Unlink</button>
          </div>

        </div>

        <!-- NO DATA -->
        <div class="divTableRow" *ngIf="onlineStations.length == 0">
          <div class="divTableCell" colspan="3" style="text-align:center;padding:20px;color:#999;">
            No Online Stations Found.
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<!-- ====================================================
     POPUP : ADD RELATION
==================================================== -->
<div class="addPopup mypopup" *ngIf="addPopup">
  <div class="popup_container popup_container_history_pop">

    <div class="trigger_div main_heading">
      <span class="mypop_heading_span">
        <h4>Add Station Relation</h4>
      </span>
      <div class="mypop_head_right_div">
        <span class="mypop_savebtn_sapn" (click)="saveRelation();" title="Save">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </span>
        <span class="mypop_closebtn_span" title="Close" (click)="closeAddPopup()">
          <i class="fas fa-times"></i>
        </span>
      </div>
    </div>

    <div class="content_div">

      <div class="form-group">
        <label>Select Online Station</label>
        <select class="form-control" [(ngModel)]="newRelation.onlineId">
          <option value="">Select</option>
          <option *ngFor="let o of onlineStations" [ngValue]="o.StationID">
            {{ o.StationName }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Select Hybrid Station</label>
        <select class="form-control" [(ngModel)]="newRelation.hybridId">
          <option value="">Select</option>
          <option *ngFor="let h of hybridStations" [ngValue]="h.StationID">
            {{ h.StationName }}
          </option>
        </select>
      </div>

    </div>

  </div>
</div>

<!-- ====================================================
     POPUP : UNLINK CONFIRMATION
==================================================== -->
<div class="unlinkPopup mypopup" *ngIf="unlinkPopup">
  <div class="popup_container popup_container_history_pop">

    <div class="trigger_div main_heading">
      <span class="mypop_heading_span">
        <h4>Unlink Station</h4>
      </span>
      <div class="mypop_head_right_div">
        <span class="mypop_savebtn_sapn" (click)="unlinkRelation(unlinkTarget)" title="Unlink">
          <i class="fa fa-unlink"  style="color: red;" aria-hidden="true"></i>
        </span>
        <span class="mypop_closebtn_span" (click)="closeUnlinkPopup()">
          <i class="fas fa-times"></i>
        </span>
      </div>
    </div>

    <div class="content_div text-center" style="padding:30px;">

      <p style="font-size:18px;">
        Are you sure you want to unlink<br>
        <strong>{{ unlinkTarget?.OStationName }}</strong> <br />
        from its mapped Hybrid Station <br />
        <strong>{{ unlinkTarget?.HStationName }}?</strong>
      </p>
    </div>


  </div>
</div>