input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.show
{
    display: block!important;
}
.hide
{
    display: none!important;
}
.main_heading
{
    justify-content:space-between;
}
#customers {
    border-collapse: collapse;
    min-width: 1000px;
    overflow-y: scroll; 
    width: 100%;
}
.yClass{
    background-color: white!important
}
.gClass{
    background-color:#f2dede!important
}
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 15px;
}
#customers tr:nth-child(even){background-color: #fff;}
#customers tr:hover {background-color: #fff;}
#customers th 
{
    padding: 5px 15px;
    text-align: center;
    background-color: white;
    color: black;
    width: 250px;
}
.DescHeadingSize{
    font-size: 10px
}
#customers tr td
{
    text-align:left;
    background-color: #e6e6e6;
}
.fixedheader{
border-collapse: collapse;
width: 100%;
}
#fixedheader td, #fixedheader th {
padding: 8px;
} 
#fixedheader th {
padding: 5px 15px;
text-align: center;
background-color: #59636a;
color: white;
}   
.shift{
text-align: center;
font-weight: bold;
}
.summryheader{
    position: relative;
    top: 6px;
}
.summryExport{
    left: 21px;
    position: relative;
    font-size: 17px;
    top: 2px;
    cursor: pointer;
    color: #fff;
}
.ngx-datepicker-input 
{
    width: 100%!important;
    height:0px!important;
}
.form_label
{
    margin-bottom: 3px
}
.form_label{
    display: block;
    font-size: 15px;
    font-weight: normal !important;
}
.ngx-datepicker-container 
{
    padding: 5px 10px;
    font-size: 14px;
    width: 246px !important;
    outline: 0;
    border: 1px solid #dfe3e9;
}
.report_row
{
    width:100%;
    display: flex;
    padding:0px 5px;
}
.report_row>div
{
    flex:1;
    padding:5px;
}
.popup_container_confirm .trigger_div
{
    background-color:white;
    color:var(--dark_green_clr);
    padding-top: 16px;
}
.mypopup .popup_container_confirm .trigger_div div.mypop_head_right_div .mypop_closebtn_span i
{
    color: red;
}
.mypop_heading_span
{
    margin-left: auto!important;
    margin-right: auto!important;
    padding-left: 46px;
}
.mypop_heading_span h4
{
    color: black;
    font-size: 17px!important;
}
.msg
{
    margin-bottom: 20px;
    margin-top: 17px;
}
.msg p
{
    text-align: center;
    font-size: 15px;
}
.msg p:first-of-type
{
    font-size: 18px;
    margin-bottom: 6px;
}
.msg p:last-of-type
{
}
.inp_section
{
}
.inp_section>div
{
    text-align: center;
    margin-bottom: 12px;
}
.inp_section>div:last-of-type
{
    margin-top: 18px;
}
.inp_section>div:last-of-type button
{
    transition-duration:.2s;
}
.inp_section>div:last-of-type button:hover
{
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    transition-duration:.2s;
}
.inp_section>div:last-of-type button:first-child
{
    text-align: center;
    margin-bottom: 15px;
    background-color:green;
}
.inp_section>div:last-of-type button:last-child
{
    text-align: center;
    margin-bottom: 15px;
    background-color:red;
    margin-left: 7px;
}
.successmsg {
    text-align: center;
    color: green;
    font-size: 15px;
    margin-bottom: 5px;
}
