<div class="main_heading">
    <span *ngIf="DepartmentCode=='SO'" class="heading_span"><h1>Summary Detail </h1></span>
    <span class="stn_nama_span"><strong>Station Name : </strong>{{stationName}}</span>
    <span class="heading_span"><h1>Timer :- {{hoursLeft}} : {{minutesLeft}} : {{secondsLeft}} </h1></span>
</div>
<div class="mycard">
    <div class="main_form_container" style="background-color: #f7f7f7;">
        <div class="row">
            <div class="col-12">
                <div class="report_row" style="padding: 10px 10px 10px 10px;margin-left: 0px;margin-right: 0px;background-color: #f7f7f7;">
                    <div>
                        <div class="form_label">Region</div>
                        <select [(ngModel)]='selectedRegion' name="Region" class="form-control" (change)="onRegionSelect()" [disabled]="IsDropdownDisable">
                            <option *ngFor="let itm of RegionList" [value]="itm.RegionId">{{itm.RegionName}}</option>
                        </select>
                    </div>
                    <div>
                        <div class="form_label">Station</div>                   
                        <select [(ngModel)]='selectedStation' name="Station" class="form-control" (change)="onStationSelect()" [disabled]="IsDropdownDisable">
                        <option *ngFor="let itm of StationList" [value]="itm.StationId">{{itm.StationName}}</option>
                        </select>
                    </div>
                    <div>
                        <div class="form_label">SAP Code</div>
                        <select [(ngModel)]='selectedStation' name="Station" class="form-control" (change)="onStationSelect()" [disabled]="IsDropdownDisable">
                        <option *ngFor="let itm of StationList" [value]="itm.StationId">{{itm.SapCode}}</option>
                        </select>
                    </div>
                    <div>
                        <div class="form_label">Summary Date </div>
                        <div class="input_container" style="border: 1px solid #ccc;">
                            <ng-datepicker class="dt_for-rep" [(ngModel)]="date" [options]="options" (ngModelChange)="OnDateChnage($event)" style="height: 0px !important;"></ng-datepicker>
                        </div>
                    </div>
                    <div *ngIf="isButtonDisplay" style="flex:auto;flex-grow: unset;">
                      <div *ngIf="DepartmentCode !== 'HO' && DepartmentCode !== 'SOP' && DepartmentCode !== 'MO'" style="margin-top:24px;">
                         <button (click)="toggleSideBar(sideBarIsOpened)" data-popup-open="popup-1" class="mybtn">DSA Entry</button> 
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="main_table_container" style="height:calc(100% - 101px);" >
            <div class="tblBodyContainer summarttable">
                <table id="customers">
                    <thead>
                        <tr *ngIf="(dispenserList == undefined)">
                            <th rowspan="2" style="vertical-align: top;">No Dispenser found.</th>
                        </tr>
                        <tr *ngIf="(dispenserList != undefined)">
                            <th rowspan="2" style="vertical-align: center;font-size: 20px;background-color:#e6e6e6;">Description</th>
                            <th colspan="2"  *ngFor="let itmDisp of dispenserList; let i = index" [ngClass]="{'gClass':((i+1)%2 == 0), 'yClass': ((i+1)%2 != 0)}" >
                            {{itmDisp.DispencerName}}
                            </th>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let itmDisp of dispenserList; let i = index">
                            <td [ngClass]="{'gClass':((i+1)%2 == 0), 'yClass': ((i+1)%2 != 0)}">Arm A</td>
                            <td [ngClass]="{'gClass':((i+1)%2 == 0), 'yClass': ((i+1)%2 != 0)}">Arm B</td>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody style="overflow-y: scroll;">
                        <tr *ngFor="let iSum of Summary;">
                            <td *ngIf="(iSum.ShiftDescription.indexOf('SHIFT_BREAK') > -1)" colspan="100%" style="font-weight: bold; font-size: 15px;text-align: center;background-color:#2d2d2d;color:white;">
                            {{iSum.ShiftDescription.substr(12, iSum.ShiftDescription.length)}}
                            </td>
                            <td *ngIf="( (iSum.ShiftDescription.indexOf('SHIFT') > -1) && (iSum.ShiftDescription.indexOf('SHIFT_BREAK') == -1) )">{{iSum.ShiftTime}}</td>
                            <td *ngIf="( (iSum.ShiftDescription.indexOf('SHIFT') == -1) && (iSum.ShiftDescription.indexOf('SHIFT_BREAK') == -1) )" [ngStyle]="{'font-weight':(iSum.FontStyle == 'b') ? 'bold' : ''}">{{iSum.ShiftDescription}}</td>
                            <ng-container *ngIf="(iSum.ShiftDescription.indexOf('SHIFT_BREAK') == -1)">
                            <ng-container *ngFor="let iDRead of dispenserList; let i = index">
                                <td [ngClass]="{'gClass':((i+1)%2 == 0), 'yClass': ((i+1)%2 != 0)}">{{getReadingByDispName(iDRead.DispencerName, iSum, '_ArmA') | number }}</td>
                                <td [ngClass]="{'gClass':((i+1)%2 == 0), 'yClass': ((i+1)%2 != 0)}">{{getReadingByDispName(iDRead.DispencerName, iSum, '_ArmB') | number}}</td>
                            </ng-container>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
                <table id="customers">
                    <tr>
                        <td colspan="100%"></td>
                    </tr>
                    <tr *ngFor="let itm of lowerDetLeft; let ind = index">
                        <td style="font-weight: bold">
                            {{itm.F_ShiftDescription}}
                        </td>
                        <td>{{itm.F_Value}}</td>
                        <td style="font-weight: bold">{{itm.S_ShiftDescription}}</td>
                        <td>{{itm.S_Value}}</td>
                        <td>
                            <div class="row" *ngIf="itm.T_Count != null">
                            <div class="col-2">{{itm.T_ShiftDescription}}</div>
                            <div class="col-10" *ngIf="(itm.T_ShiftDescription != 'Other Notes' && itm.T_ShiftDescription != 'Coins')">x {{itm.T_Count}} = {{itm.T_Value}}</div>
                            <div class="col-10" *ngIf="itm.T_ShiftDescription == 'Other Notes'"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = {{itm.T_Value}}</div>
                            <div class="col-10" *ngIf="itm.T_ShiftDescription == 'Coins'"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = {{itm.T_Value}}</div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table id="customers" #customers>
                    <tr>
                        <td colspan="100%" style="background-color:#2d2d2d; color:white;"><b>Normal Rate:</b> {{ForRate}} &nbsp;&nbsp;&nbsp; <b>Discounted Rate:</b> {{ForDiscountedRate}}&nbsp;&nbsp;<a (click)="ExportFile()"><i class="fa fa-download summryExport" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td>Particulars</td>
                        <td>Total quantity</td>
                        <td>Non discount quantity</td>
                        <td>Non discount amount</td>
                        <td>Discount quantity</td>
                        <td>Discount amount</td>
                        <td>Total amount</td>
                    </tr>
                    <tr *ngFor="let itm of DisNonDicSmmry; let ind = index">
                        <td style="font-weight: bold">{{itm.Particulars}}</td>
                        <td>{{itm.TotalQuntity}}</td>
                        <td>{{itm.NonDiscount_QTY}}</td>
                        <td>{{itm.NonDiscount_Amt | number}}</td>
                        <td>{{itm.Discount_QTY}}</td>
                        <td>{{itm.Discount_Amt | number}}</td>
                        <td>{{itm.TotalAmount | number}}</td>
                    </tr>
                </table>
            </div>
            <app-dispencer-entry-side-bar [isOpen]="sideBarIsOpened"></app-dispencer-entry-side-bar>
        </div>
    <div *ngIf="DepartmentCode=='HO'">
   </div>
</div>
      