<div class="main_heading">
	<span class="heading_span"><h1>DSA Entry Unlock</h1></span>
	<span class="date_span">
        <ng-datepicker [(ngModel)]="Rejectiondate" [options]="options" (ngModelChange)="OnDateChnagefrom($event)" class="ngx-datepicker-container datepicker-dash" placeholder="Select Date" style="color:#59636A;"></ng-datepicker>
    </span>
</div>
<div class="mycard">
    <div class="main_table_container">
		<div class="main_form_container" style="padding-left: 5px;padding-right:5px;">
			<form class="form-horizontal reject_form" action="/action_page.php">
				<div class="row">
					<div *ngIf="IsDepartmentHO" class="col-xs-3 col-sm-4 col-md-4 col-lg-3">
						<div class="label_container">
							<label>Select Marketing Office </label>
						</div>
						<div class="input_container" (change)="OnSelectCRoom($event)">
							<select [(ngModel)]='SelectedMO' name="jsonRejectCR" id="" class="form-control">
								<option value="" selected>--Select--</option>
								<option *ngFor="let itm of StaionDetails" [value]="itm.UserId">{{itm.Name}}</option>																
							</select>
						</div>
					</div>
					<div class="col-xs-3 col-sm-4 col-md-4 col-lg-3">
						<div class="label_container">
								<label>Select Station for Unlock </label>
						</div>
						<div class="input_container">
							<select [(ngModel)]='SelectedStationCode' name="listStation" id="" class="form-control">
								<option value="" selected>--Select--</option>
								<option *ngFor="let itm of listStation" [value]="itm.StationId">{{itm.StationName}}</option>
							</select>
						</div>
					</div>
					<div class="col-xs-3 col-sm-2 col-md-1 col-lg-2" style="display:none;">
						<div>
							<button type="submit" (click)="UpdateRejectStation();" class="mybtn" style="margin-top:25px;">Reject Readings</button>
						</div>
					</div>
					<div class="col-xs-2 col-sm-4 col-md-2 col-lg-3">
						<div>
							<button type="submit" (click)="UpdateRejectStation();" class="mybtn" style="margin-top:25px;">Unlock Station</button>
						</div>
					</div>
				</div>
			</form> 
		</div>
    </div>
</div>
