.prg_row
{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
}
.prg_row>.col-md-2
{
    width:200px;
}
.progress_sec
{
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-top:30px;
}