.mypopup
{
    display: block;
}
.upld_img_cont>span.upload_span>img
{
    max-width:100%;
}
.popup_container_jump_attc
{
    min-width:400px;
    max-width: 1000px; 
    width: auto;
}
.popup_container_upload_attc
{
    width:500px;
}
input[type="file"] 
{
    height: auto!important;
    margin-top: 12px;
    border: 1px solid #ddd;
    transform: scale(1,1);
}
.divTableBody>.divTableRow:hover 
{
    cursor: default;
}
.divTableBody > .divTableRow .divTableCell.btn_cell button
{
    border: none;
    background-color: transparent;
    color: #337ab7;
}
.divTableBody>.divTableRow:hover .divTableCell.btn_cell button
{
    border: 1px solid white;
    display: inline-block;
    color: white;
    border-radius: 2px;
    padding: 0px 5px;
    transition-duration: 0s;
    background-color: var(--green_clr);
}
.text_center
{
    text-align: center;
}
.mycheck
{
    color: #22d629;
    font-size: 16px;
}
.myclose
{
    color:red;
    font-size: 16px;
}
.myminus
{
    color:gray;
    font-size: 16px;
}
.date_label
{
    margin-top: 8px;
    margin-bottom: 6px;
}