<div class="main_heading">
  <span class="heading_span"><h1>JMR-CO</h1></span>
  <div class="head_right_div">
    <span class="switch_span" *ngIf="outerCheck == 1">
      <strong style="border: 1px solid #d8b10d;padding: 5px 9px;font-size: 14px;">Already sent to HO</strong>    
    </span> 
    <span class="pop_btn_span">
      <a title="Approve" (click)="makeFinalApprove()" *ngIf="outerCheck != 1"><i class="fas fa-clipboard-check"></i></a>
      <a title="Send to HO" (click)="showRemarkPopupSendToMO(false)"  data-toggle="modal" data-target="#reviewpoup" *ngIf="outerCheck != 1"><i class="fas fa-share"></i></a>
      <a title="Download_Excel" (click)="GetExportJMRreports()"><i class="fas fa-file-excel"></i></a>
      <a title="Download_PDF" (click)="GetPDF()" data-popup-open="popup-1"><i class="fas fa-file-pdf"></i></a>
    </span>
</div> 
</div>
<div class="mycard">
  <div class="main_table_container">
     <div class="report_row">
        <div>
          <div>
            <div class="label_container">
              <label>Select Year</label>
          </div>
          <div class="input_container">
              <select class="form-control" ([ngModel])="selectedYear" (change)="onyearselect($event.target.value)" >
                <option *ngFor="let year of years" [value]="year">{{ year }}</option>   
              </select>
          </div>
          </div>
          </div>
          <div>
              <div class="label_container">
                  <label>Select Month</label>
              </div>
              <div class="input_container">
                  <select class="form-control" name="selectedMonth" (change)="OnMonthChange($event)">
                      <option value="" selected>--Select--</option>
                      <option value="Jan">January</option>  
                      <option value="Feb">Feburary</option> 
                      <option value="Mar">March</option>  
                      <option value="Apr">April</option>
                      <option value="May">May</option>          
                      <option value="June">June</option>    
                      <option value="July">July</option> 
                      <option value="Aug">August</option>   
                      <option value="Sep">September</option>  
                      <option value="Oct">October</option>  
                      <option value="Nov">November</option>
                      <option value="Dec">December</option>
                  </select>
              </div>
          </div>
          <div>
            <div class="label_container">
                <label> Select Fortnight</label>
            </div>
            <div class="input_container">
                <select class="form-control" name="selectedfortnight" (change)="OnFortChnage($event)">
                    <option value="" selected>--Select--</option>
                    <option value="Fortnight1">Fortnight1</option>
                    <option value="Fortnight2">Fortnight2</option>  
                </select>
            </div>
        </div>
      </div>
    <div class="vertScrollTbl">
      <div class="divTableHeader">
         <div class="divTableRow">
            <div class="divTableCell">
              <input type="checkbox" style="height:auto!important;" [(ngModel)]="selectedAll"(change)="selectAll()" >&nbsp;Action
            </div>
          <div [ngClass]="sortingColumn == 'StationCode' ? 'divTableCell highlighted_tableCell' : 'divTableCell'" >
            Station Code <i [className]="sortingColumn == 'StationCode' && reverse==true ? 'fa fa-sort-desc':'fa fa-sort-asc'"></i>
          </div>
          <div [ngClass]="sortingColumn == 'StationName' ? 'divTableCell highlighted_tableCell' : 'divTableCell'" >
            Station Name <i [className]="sortingColumn == 'StationName' && reverse==true ? 'fa fa-sort-desc':'fa fa-sort-asc'"></i>
          </div>
          <div [ngClass]="sortingColumn == 'TotalSale' ? 'divTableCell highlighted_tableCell' : 'divTableCell'" >
            Total Sale <i [className]="sortingColumn == 'TotalSale' && reverse==true ? 'fa fa-sort-desc':'fa fa-sort-asc'"></i>
          </div>
          <div [ngClass]="sortingColumn == 'Jump' ? 'divTableCell highlighted_tableCell' : 'divTableCell'" >
            Jump <i [className]="sortingColumn == 'Jump' && reverse==true ? 'fa fa-sort-desc':'fa fa-sort-asc'"></i>
          </div>
          <div [ngClass]="sortingColumn == 'FinalSubmission' ? 'divTableCell highlighted_tableCell' : 'divTableCell'" >
            FinalSubmission <i [className]="sortingColumn == 'FinalSubmission' && reverse==true ? 'fa fa-sort-desc':'fa fa-sort-asc'"></i>
          </div>
         </div>
       </div>  
      <div class="divTableBody">
         <div *ngFor="let itm of arrReviewData | orderBy: key: reverse | filter:filter let i = index"  class="divTableRow">
                <div id="rejectpopup" class="modal fade" >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Remark
                            <span class="popup_save_span">
                              <button type="button" class="close_popup_btn" (click)="rejectionPopup(false, '')" data-dismiss="modal"><i class="fas fa-times"></i></button>
                            </span>
                          </h4>
                        </div>
                        <div class="modal-body">
                          <div id="conts1"  >
                            <div class="popup_container">
                              <div class="content_div">
                                <form >
                                  <div class="conent">
                                    <textarea class="form-control" rows="5" #remark placeholder="Remarks"></textarea>
                                  </div>
                                  <br/>
                                  <div class="popup-buttons">
                                    <button type="button" class="btn btn-success btn-sm pull-left" (click)="finalRejection(remark.value);">Save</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                    </div>  
                  </div>
            <div class="divTableCell first_cell">
				   <input type="checkbox" style="transform:scale(1.2,1.2);line-height:auto;height: auto!important;" [(ngModel)]="itm.selected" *ngIf=" itm.SubmitStatus == true && itm.SubmitStatusCR == false" (change)="checkIfAllSelected();"> 
			  	<span *ngIf="itm.SubmitStatus == true && itm.SubmitStatusCR == false" >
					<button class="mybtn" title="Reject" data-toggle="modal"  [disabled]="(itm.SubmitStatus=='NS')" data-target="#rejectpopup" (click)="rejectionPopup(true, itm)">Reject</button>
                </span>
              <div>
                <span *ngIf="itm.SubmitStatus   == false" style="color:red;">Pending</span>
                <span *ngIf="itm.SubmitStatusCR == true" style="color:green;">Approved</span>
              </div>
            </div>
            <div class="divTableCell" >{{itm.StationCode}}</div>
            <div class="divTableCell" >{{itm.StationName}}</div>
            <div class="divTableCell" >{{itm.TotalSale}}</div>
            <div class="divTableCell" >{{itm.Jump}}</div>
            <div class="divTableCell" >{{itm.FinalSubmission}}</div>
         </div>
      </div>
    </div>
  </div>
</div>
<div id="reviewpoup" class="modal fade" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remark
          <span class="popup_save_span">
            <button type="button" class="close_popup_btn" data-dismiss="modal" (click)="showRemarkPopupSendToMO(false)"><i class="fas fa-times"></i></button>
          </span>
        </h4>
      </div>
      <div class="modal-body">
        <div id="conts1"  >
          <div class="popup_container">
            <div class="content_div">
              <form >
                <div class="conent">
                  <textarea class="form-control" rows="5" #remark id="divRemarksSendToHO" placeholder="Remarks"></textarea>
                </div>
                <br/>
                <div class="popup-buttons" >
                  <button type="button" class="btn btn-success btn-sm pull-left" (click)="SendToMO(remark.value);">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>  
</div>