<div class="main_heading">
	<span class="heading_span"><h1> Dispenser Entry</h1></span>
</div>
<div class="mycard">
		<div class="row shift_cont">
			<div class="col-md-3">
				<div class="label_container">
					<label>Date</label>
				</div>
				<div class="input_container" >
					<div class="input_container" style="border: 1px solid #ccc;">
						<ng-datepicker class="dt_for-rep" [(ngModel)]="SelectedDate" [options]="options" (ngModelChange)="OnDateChnage($event)" style="height: 0px !important;"></ng-datepicker>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="label_container">
					<label>Shift</label>
				</div>
				<div class="input_container">
                    <select (change)="onSelectShift($event.target.value)" name="optShift" class="form-control" [(ngModel)]="selectedShiftId" [disabled]="shiftsubshift">
                        <option value="-1" selected>--Select Shift--</option>
                        <option *ngFor="let itm1 of cmbShiftData;" [value]="itm1.ShiftId">{{itm1.ShiftDetails}}</option>
                    </select>
                </div>
			</div>
			<div class="col-md-3">
				<div class="label_container">
					<label>Sub Shift</label>
				</div>
				<div class="input_container">
                    <select (change)="onSelectSubShift($event.target.value)" name="optSubShift"  class="form-control"  [(ngModel)]="selectedSubShiftId" [disabled]="shiftsubshift">
                        <option value="-1" selected>--Select Sub Shift--</option>
                        <option *ngFor="let itm of cmbSubShiftData;" [value]="itm.SubShiftId">{{itm.SubShiftDetails}}</option>
                    </select>
                </div>
			</div>
			<div class="col-md-3">
				<div class="label_container text-center" style="margin-top:23px;">
					<label>Current Price : </label> <span>{{CurrentRate}}</span>
				</div>
			</div>
		</div>
	<div class="main_table_container">
		<div class="vertScrollTbl">
			<div class="divTableHeader">
				<div class="divTableRow">
					<div class="divTableCell">
						Sr No.
					</div><div class="divTableCell">
						Dispenser Name
					</div>
					<div class="divTableCell prevA_cell">
						Prev A
					</div>
					<div class="divTableCell armA_cell">
						Arm A
					</div>
					<div class="divTableCell prevB_cell">
						Prev B
					</div>
					<div class="divTableCell armB_cell">
						Arm B
					</div>
					<div class="divTableCell">
						Jump A/B
					</div>
					<div class="divTableCell">
						Arm A Sale 
					</div>
					<div class="divTableCell">
						Arm B Sale 
					</div>
					<div class="divTableCell">
						Total Sale
					</div>
				</div>
			</div>
			<div class="divTableBody" >
				<div class="divTableRow" *ngFor="let itm of allDispenserData, let i=index" >
					<div class="divTableCell">{{i+1}}</div>
					<div class="divTableCell">{{itm.DispenserName}}</div>
					<div class="divTableCell">{{itm.PreArmReadingA}}</div>
					<div class="divTableCell" style="padding-left:3px;padding-right:3px;">
						<input type="text" placeholder="Arm A" class="inp_num" min="0" name = "ArmA" [disabled]="jumppopup" [(ngModel)] = "itm.ArmReadingA" (keypress)="numberOnly($event)" (input)="OnchangeA(itm)" (change)="validation1(itm.ArmReadingA,itm.PreArmReadingA,itm.DispenserName,itm.DispenserId)">
					</div>
					<div class="divTableCell">{{itm.PreArmReadingB}}</div>
					<div class="divTableCell" style="padding-left:3px;padding-right:3px;">
						<input  type="text" placeholder="Arm B" class="inp_num" min="0" name = "ArmB" [disabled]="jumppopup" [(ngModel)] = "itm.ArmReadingB" (keypress)="numberOnly($event)" (input)="OnchangeB(itm)" (change)="validation2(itm.ArmReadingB,itm.PreArmReadingB,itm.DispenserName,itm.DispenserId)">
					</div>
					<div class="divTableCell"><button class="mybtn" data-toggle="modal" data-target="#myModal" (click)="getvalues(itm)" [disabled]="jumppopup" style="width:100%;">Jump Reading A/B</button></div>
					<div class="divTableCell amr_sale">{{itm.TotA}}</div>
					<div class="divTableCell amr_sale">{{itm.TotB}}</div>
					<div class="divTableCell amr_sale">{{itm.FinalTot}}</div>
				</div>
			</div>
		</div>
		<div *ngIf="isDispencerLocked" class="save_all_btn_div text-center">
			<button class="mybtn" (click)="saveAll()">Save All</button>
		</div>
		<div *ngIf="!isDispencerLocked" class="save_all_btn_div text-center">
			<span style="color:red;font-size:14pt;font-weight:bolder;">{{DispLockMsg}}</span>
		</div>
		<br>
		<br>
	</div>
</div>
<div class="modal mypopup" id="myModal">
        <div class="popup_container" style="box-shadow: 0px 25px 18px -25px rgba(0, 0, 0, .5);
		border: 1px solid var(--gray_clr);">
			<div class="trigger_div">
				<span class="mypop_heading_span"><h4>Jump Reading</h4></span>
				<div class="mypop_head_right_div">
					<span  class="mypop_savebtn_sapn" title="Save" (click)="saveJumpReading();">
					  <i  class="fa fa-floppy-o"></i>
					</span>
					<span class="mypop_closebtn_span"  (click)="refreshPopup();"><i class="fas fa-times" data-dismiss="modal"></i></span>
				</div>
			</div>
			<div class="content_div">
				<form class="jump_reading_pop_form">
						<div class="form_grp_row">
								<div class="left_label_cont">
									<label>Arms</label>
								</div>
								<div class="right_input_cont">
									<div class="for_input">
										<div class="only_select amrs_right radio" (change)="ArmSelection($event.target.value)">
										<label><input type="radio" name="armSide" value="ArmA" [(ngModel)]="armSide"> Arm 'A'</label>
										<label><input type="radio" name="armSide" value="ArmB" [(ngModel)]="armSide"> Arm 'B'</label>
										</div>
									</div>  
								</div>
							</div>
							<div class="form_grp_row">
								<div class="left_label_cont">
									<label>Jump/Reset/Change</label>
								</div>
								<div class="right_input_cont">
									<div class="for_input">
										<div class="only_select">
											<select class="form-control" [(ngModel)]="FlagJumpType" name="FlagJumpSelect" (change)="ChangeJumpType($event.target.value)">
												<option value="Jump">Jump</option>
												<option value="Reset">Reset</option>
												<option value="Change">Change</option>
												<option value="GasTesting">GasTesting</option>
											</select>
										</div>
									</div>  
								</div>
							</div>
							<div class="form_grp_row">
								<div class="left_label_cont">
									<label>Before</label>
								</div>
								<div class="right_input_cont">
									<div class="for_input">
										<div class="only_input">
											<input type="text" placeholder="" class="form-control" [(ngModel)]="before" name="before">
										</div>
									</div>  
								</div>
							</div>
							<div class="form_grp_row">
								<div class="left_label_cont">
									<label>After</label>
								</div>
								<div class="right_input_cont">
									<div class="for_input">
										<div class="only_input">
											<input type="text" placeholder="" class="form-control" [(ngModel)]="after" name="after">
										</div>
									</div>  
								</div>
							</div>
							<div class="form_grp_row">
								<div class="left_label_cont">
									<label>Attachment</label>
								</div>
								<div class="right_input_cont" style="position:relative;">
									<div class="for_input">
										<input type="file" id="fileInput" name="fileInput" (change)="onChangeImage($event.target.files, $event)">
										<span *ngIf="!IsFileSelected" class="temp_file_name" style="right:-6px;">{{FileName}}</span>
									</div>
								</div>
							</div>
					<div class="form_grp_row">
						<div class="left_label_cont">
							<label>Remarks</label>
						</div>
						<div class="right_input_cont">
							<div class="for_input">
								<div class="only_txtarea">
									<input type="text" placeholder="Remark" class="form-control" name = "Remark" [(ngModel)] = "remark" >
								</div>
							</div>  
						</div>
					</div>
				</form>
				<div class="vertScrollTbl">
					<div class="divTableHeader">
						<div class="divTableRow">
							<div class="divTableCell">Sr No.</div>
							<div class="divTableCell">Before</div>
							<div class="divTableCell">After</div>
							<div class="divTableCell">Jumped</div>
							<div class="divTableCell">JumpSide</div>
							<div class="divTableCell">Remark</div>
							<div class="divTableCell">Action</div>
						</div>
					</div>
					<div class="divTableBody">
						<div class="divTableRow" *ngFor = "let itm of listJumpedReading, let i = index">
							<div class="divTableCell">{{i+1}}</div>
							<div class="divTableCell">{{itm.DispanserBeforeJump}}</div>
							<div class="divTableCell">{{itm.DispanserAfterJump}}</div>
							<div class="divTableCell">{{itm.DispanserJump}}</div>
							<div class="divTableCell">{{itm.DispanserSide}}</div>
							<div class="divTableCell">{{itm.DispanserJumpRemark}}</div>
							<div class="divTableCell"><span (click) = "UpdateJumpReading(itm.DispanserJumpId, itm)">Edit</span>&nbsp;&nbsp;<b>|</b><span><i (click) ="DeleteJumpReading(itm.DispanserJumpId, itm)" class="fa fa-close" style="color:red;margin-left: 9px;font-size: 16px;"></i></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
